name: Misas
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.3
  font_awesome_flutter: ^8.10.0

  cupertino_stepper: ^0.1.1
  progress_stepper: ^0.1.0

  fancy_bottom_navigation: ^0.3.2

  carousel_slider: ^2.2.1

  string_validator: ^0.1.4

  flushbar: ^1.10.4

  numeric_keyboard: ^1.0.0

  international_phone_input: ^1.0.4
  pin_code_fields: ^3.1.2
  mask_text_input_formatter: ^1.1.0

  firebase_core: ^0.5.0+1
  firebase_auth: ^0.18.1+2
  cloud_firestore: ^0.14.1+3

  url_launcher: ^5.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

  assets:
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
